@import "tailwindcss";

@theme {
  --font-primary: "Poppins", "sans-serif";
  
  --color-primary: #333;
  
}

@layer base{
    h1{
        color: aqua;
    }
}

@layer components{
    .card{
        @apply bg-primary p-3 text-justify tracking-widest font-primary text-white rounded-md
    }
}

@utility flex-center{
    @apply flex justify-center items-center
}